{% extends "base.html" %}

{% block title %}
    <title>top page</title>
{% endblock %}

{% block contents %}
    <p>
    <input type="button" class="button" onclick="location.href='/update'" value="アルバム更新">
    </p>
    <a href="/upload_page">go to upload page</a></br>

    <p>
    <input type="button" class="button" onclick="location.href='/photo_page'" value="すべて">
    {% for album in albums %}
        <input type="button" class="button" onclick="location.href='/photo_page/{{ album.album_id }}'" value="{{ album.album_name }}年">
    {% endfor %}
    </p>
{% endblock %}