{% extends "base.html" %}

{% block title %}
    <title>SlideX  - top page -</title>
{% endblock %}

{% block contents %}
    <div style="text-align: right">
        <input type="button" class="button" onclick="location.href='/update'" value="アルバム更新">
        <input type="button" class="button" onclick="location.href='/upload_page'" value="写真アップロード">
    </div>

    <div style="text-align: center">
        <h3>アルバム一覧</h3>
    </div>

    {% for album in albums %}
        <div class="album_box">
            <div class="album_info">
                <table>
                    <th>{{ album.title }}</th>
                    <td>
                        <input type="button" class="start_button" onclick="location.href='/photo_page/{{ album.album_id }}'" value="再生">
                    </td>
                </table>
            </div>

            <table>
                <tr>
                    <th>写真：</th> <td>{{ album.num_of_photo }}枚</td>
                </tr>
                <tr>
                    <th>メモ：</th><td>{{ album.memo_path | readfile }}</td>
                </tr>
            </table>
        </div>
    {% endfor %}

{% endblock %}