{% extends "base.html" %}

{% block title %}
    <title>photo page</title>
{% endblock %}

{% block contents %}
<p>
<button id="increaseIntervalButton">+1</button>
切替間隔: <span id="variableValue">3</span> 秒
<button id="decreaseIntervalButton">-1</button>
</p>
<a href="/">go to top page</a>
<br>
<img id="rotating-image" alt="Rotating Image" width="100%" height="100%">

<script>
    //
    // 切替間隔の変数を増減させる処理
    //
    // 変更したい変数を定義
    var variable = 3; // 切替間隔の初期値は3秒

    // 変数の値を増やす関数
    function increaseVariable() {
        variable++;
        updateVariableValue();
    }

    // 変数の値を減らす関数
    function decreaseVariable() {
        if(variable > 0){
            variable--;
            updateVariableValue();
        }
    }

    // 変数の値をHTMLに表示する関数
    function updateVariableValue() {
        var variableValueElement = document.getElementById("variableValue");
        variableValueElement.textContent = variable;
    }


    //
    // 写真を切り替える処理
    //
    var imageUrls = {{ image_urls|tojson|safe }};
    var interval = variable * 1000;
    var index = 0;
    var rotatingImage = document.getElementById("rotating-image");
    var slideshowInterval = 0;

    function changeImage() {
        rotatingImage.src = imageUrls[index];
        rotatingImage.src = rotatingImage.src.replace(/\/photo_page\//, "/");
        index = (index + 1) % imageUrls.length;
    }
    // 最初の画像を表示
    changeImage();

    function startSlideshow() {
        clearInterval(slideshowInterval); // 既存のインターバルをクリア
        slideshowInterval = setInterval(changeImage, interval);
    }
    startSlideshow(); // スライドショーを開始

    // ボタンのクリックイベントを処理
    var increaseIntervalButton = document.getElementById("increaseIntervalButton");
    increaseIntervalButton.addEventListener("click", function() {
        interval += 1000; // インターバルを1000ms増加
        increaseVariable();
        startSlideshow(); // スライドショーを再開
    });

    var decreaseIntervalButton = document.getElementById("decreaseIntervalButton");
    decreaseIntervalButton.addEventListener("click", function() {
        if (interval > 1000) { // インターバルが最小値以上の場合のみ減少させる
            interval -= 1000; // インターバルを1000ms減少
            decreaseVariable();
            startSlideshow(); // スライドショーを再開
        }
    });
</script>

{% endblock %}