{% extends "base.html" %}

{% block title %}
    <title>SlideX  - photo page -</title>
{% endblock %}

{% block contents %}

    <h3>
        タイトル：{{ album.title }}
    </h3>

        <input type="button" class="button" onclick="location.href='/'" value="トップページへ戻る">
        <input type="button" class="button" onclick="location.href='/take_notes_page/{{ album.album_id }}'" value="メモを追加">

    <button id="increaseIntervalButton" style="height: 50px;" class="button">+0.5</button>
    切替間隔: <span id="variableValue">2.0</span> 秒
    <button id="decreaseIntervalButton" style="height: 50px;" class="button">-0.5</button>
    <br>

    <button id="reverseButton" style="height: 50px;" class="button">逆再生</button>
    <button id="pauseSlideshowButton" style="height: 50px;"class="button">一時停止</button>
    <button id="resumeSlideshowButton" style="height: 50px;" class="button">再開</button>

    <img id="rotating-image" alt="Rotating Image" width="50%" height="50%">
    <span id="SlideNumber">1</span> / {{ album.num_of_photo }}

    <audio id="musicPlayer" autoplay>
        <source id="musicSource" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>




    <script>
        var musicFiles = [
            {% for music_url in music_urls %}
                "{{ music_url }}",
            {% endfor %}
        ];

        var currentMusicIndex = Math.floor(Math.random() * musicFiles.length);
        var musicPlayer = document.getElementById('musicPlayer');
        var musicSource = document.getElementById('musicSource');

        musicPlayer.addEventListener('ended', function() {
            // 次の曲を再生
            currentMusicIndex = (currentMusicIndex + 1) % musicFiles.length;
            musicSource.src = musicFiles[currentMusicIndex];
            musicPlayer.load();
            musicPlayer.play();
        });

        // 最初の曲を再生
        musicSource.src = musicFiles[currentMusicIndex];
        musicPlayer.load();
        musicPlayer.play();
    </script>



    <script>
        //
        // 切替間隔の変数を増減させる処理
        //
        // 変更したい変数を定義
        var variable = 2.0; // 切替間隔の初期値は2.0秒
        var slide_num = 0;
        var i_am_running = 1;   // 再生中の場合は1

        // 変数の値を増やす関数
        function increaseVariable() {
            variable += 0.5;
            updateVariableValue();
        }

        // 変数の値を減らす関数
        function decreaseVariable() {
            if(variable > 0){
                variable -= 0.5;
                updateVariableValue();
            }
        }

        // 変数の値をHTMLに表示する関数
        function updateVariableValue() {
            var variableValueElement = document.getElementById("variableValue");
            variableValueElement.textContent = variable;
        }

        // スライドの番号をHTMLに表示する関数
        function updateSlideNumber() {
            var variableValueElement = document.getElementById("SlideNumber");
            variableValueElement.textContent = slide_num;
        }


        //
        // 写真を切り替える処理
        //
        var imageUrls = {{ image_urls|tojson|safe }};
        var interval = variable * 1000;
        var index = Math.floor(Math.random() * {{ album.num_of_photo }});
        var rotatingImage = document.getElementById("rotating-image");
        var slideshowInterval = 0;
        var sign = 1;

        function changeImage() {
            rotatingImage.src = imageUrls[index];
            rotatingImage.src = rotatingImage.src.replace(/\/photo_page\//, "/");
            if(sign == -1){
                if(index == 0) index = {{ album.num_of_photo }} - 1;
                else index = (index - 1);
            }else{
                index = (index + 1) % {{ album.num_of_photo }};
            }
            slide_num += sign;
            if(slide_num == 0) slide_num = {{ album.num_of_photo }};
            if(slide_num > {{ album.num_of_photo }}) slide_num = 1;
            updateSlideNumber();
        }
        // 最初の画像を表示
        changeImage();

        function startSlideshow() {
            clearInterval(slideshowInterval); // 既存のインターバルをクリア
            slideshowInterval = setInterval(changeImage, interval);
        }
        startSlideshow(); // スライドショーを開始

        // ボタンのクリックイベントを処理
        var increaseIntervalButton = document.getElementById("increaseIntervalButton");
        increaseIntervalButton.addEventListener("click", function() {
            interval += 500; // インターバルを500増加
            increaseVariable();
            startSlideshow(); // スライドショーを再開
        });

        var decreaseIntervalButton = document.getElementById("decreaseIntervalButton");
        decreaseIntervalButton.addEventListener("click", function() {
            if (interval > 500) { // インターバルが最小値以上の場合のみ減少させる
                interval -= 500; // インターバルを500減少
                decreaseVariable();
                startSlideshow(); // スライドショーを再開
            }
        });

        // スライドショーを進める向きを変更
        var reverseButton = document.getElementById("reverseButton");
        reverseButton.addEventListener("click", function() {
            if(sign == -1){
                sign = 1;
            }else if(sign == 1){
                sign = -1;
            }
        });

        // スライドショーを一時停止する処理
        var pauseSlideshowButton = document.getElementById("pauseSlideshowButton");
        pauseSlideshowButton.addEventListener("click", function() {
            if(i_am_running == 1){
                clearInterval(slideshowInterval); // 既存のインターバルをクリア
                i_am_running = 0;
            }
        });

        // スライドショーを再開する処理
        var resumeSlideshowButton = document.getElementById("resumeSlideshowButton");
        resumeSlideshowButton.addEventListener("click", function() {
            if(i_am_running == 0){
                slideshowInterval = setInterval(changeImage, interval);
                i_am_running = 1;
            }
        });


    </script>

{% endblock %}